doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Instruments
        a(href="/update-cobj") Add to this table
        table
            tr
                th Name
                th Family
                th Usual Style
            each instrument in data
                tr
                    td #{instrument.properties.name}
                    td #{instrument.properties.family}
                    td #{instrument.properties.usual_style}