doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Edit Instrument
        a(href="/") Return to the homepage
        form(method="POST", action="/update-cobj")
            label Name
            input(name="name")
            label Family
            input(name="family")
            label Usual Style
            input(name="usual_style")
            input(type="submit")

